
.block
{
    display: flex;

    
}
.gonar
{

    border: 1px;
    height: 200px;
    width: 100%;
    margin: 20px;

    
   background-color: rgb(230, 159, 6);
}
h1{
    display: block;
    background-color: aqua;
    text-align: center; 
}
.general{
    background-color: brown;
}
p{
    transform: rotate(90deg);
    text-align: center;
}
body{
    background-color: aquamarine;
}

    

